body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, 'Roboto Mono', monospace;
    background-color: #0c0f11;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none; /* no underline */
    font-size: 14px;
  }

.white {
    color: #eef5fc;
}

.grey {
    color: #adb4bb;
}

.nav_left {
    font-family: Roboto Mono;
    font-size: 16px;
    margin-top: 35px;
    float: left;
    font-weight: 300;
}

.nav_right {
    float: right;
    margin-top: 35px;
    font-family: Roboto Mono;
    font-size: 16px;
    font-weight: 300;
}

.main-container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.navbar {
    height: 80px;
}

.header {
    margin-top: 5.2rem;
    margin-bottom: 6.2rem;
}

.profile-img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
}

.profile-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-content {
    display: inline-block;
    vertical-align: top;
    max-width: 600px;
    margin-left: 30px;
    margin-top: 15px;
}

.header-content p {
    display: inline;
    font-size: 25px;
    font-family: Roboto Mono;
    line-height: 40px;
    margin-right: 10px;
}

.socials {
    display: inline-block;
    vertical-align: top;
    max-width: 600px;
    margin-top: 3px;
    font-family: Roboto Mono;
    height: 30px;
}

.social-logos {
    display: inline;
    vertical-align: middle;
}

.social-container {
    display: inline-block;
    margin-right: 20px;
}

.social-container p {
    font-size: 15px;
    vertical-align: middle;
    display: inline;
}

.twitter {
    max-height: 22px;
}

.puzzle {
    max-height: 18px;
}

.github {
    max-height: 26px;
}

.linkedin {
    max-height: 17px;
}

.main {
    margin-top: 4.2rem;
    margin-bottom: 50px;
}

.experience {
    margin-bottom: 65px;
}

.experience-title p {
    display: inline;
    font-size: 22px;
    font-family: Roboto Mono;
    line-height: 40px;
    margin-right: 8px;
}

.experience-wrapper {
    display: inline-block;
    margin-top: -12px;
}

.companies {
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    margin-top: 3px;
    font-family: Roboto Mono;
    height: 30px;
    margin-left: 2px;
}

.company-logos {
    display: inline;
    vertical-align: middle;
}

.company-container {
    display: inline-block;
    margin-right: -3px;
}

.company-container p {
    font-size: 14px;
    vertical-align: middle;
    display: inline;
    font-family: Helvetica;
    margin-left: -4px;
}

.duration {
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;
}

.experience-description {
    font-size: 17px;
    font-family: Helvetica;
    font-weight: 200;
    line-height: 26px;
    margin-top: -15px;
}

.social-container:hover .social-logos {
    animation: shake 0.82s cubic-bezier(.12,.03,.19,.20) both;
    transform: translate3d(0, 0, 0);
    perspective: 500px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}

.social-container:hover .twitter_p {
    color: rgb(30, 161, 241);
}

.social-container:hover .github_p {
    color: rgb(255, 255, 255);
}

.social-container:hover .linkedin_p {
    color: rgb(2, 119, 183);
}

.social-container:hover .email_p {
    color: rgb(255, 255, 255);
}

.twitter_p, .github_p, .linkedin_p, .email_p {
    transition: 0.5s;
}

.orange {
    color: #85D6F6;
}

.pink {
    color: rgb(234, 29, 123);
}

.pinkish {
    color: rgb(231, 108, 78);
    
}

.dark_grey {
    color: #848484;
}

#about:hover {
    text-decoration: underline;
}

.middle {
    
}

.footer {
    text-align: center;
}